#about {
    filter:blur(2px);
    transition: filter .3s; 
}

#about:hover {
    filter:blur(0px);
}

.cartiglio {
    font-family: "Neue Machina", sans-serif;
    font-size: 6rem;
    font-weight: 600;
    padding-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
} 

.proj-attribute {
    font-family: "roc-grotesk", sans-serif;
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-weight: 400;
    padding-bottom: 1.5%;
    align-self: flex-start;
    text-align: right;
}

.data {
    font-family: "roc-grotesk", sans-serif;
    font-size: 1.5rem;
    -webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

mark {
    -webkit-animation: 1s highlight  normal 0.5s forwards;
    animation: 1s highlight  normal 0.5s forwards;
    background-color: none;
    background: linear-gradient(90deg, #FF7F3C 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
   
}

@-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  

.video-container {
    position: relative;
    border-radius: 20px;
    margin-left: 8.3%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 83%;
    height: 500px;
    top: 10vh;
    
    -webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; 
}

.video-container video {
    position: absolute;
    width: 110%;

}

.title {
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 5%;
    padding-right: 7%;
}

.brief {
    font-family: "roc-grotesk", sans-serif;
    padding-top: 5%;
    font-size: 1.2rem;
    padding-bottom: 5%;
    position: sticky;
    display: flex;
    justify-content: center;
}

/* .cartiglio,
.video-container,
.brief {
    padding-left: 2%;
    padding-right: 2%;
} */

.inline-img {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.img-container {
    height: 40vh;
    overflow: hidden;
    border-radius: 20px;
}

.img-container-vert {
    height: 70vh;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 3%;
}

.img-container-big {
    height: 70vh;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 3%;
}

img {
    width: 100%;
    border-radius: 20px;
    transition: transform 1.5s;  
}

img:hover {
    transform: scale(1.1);
}

.img-container-vert img {
    width: 100%;
    border-radius: 20px;
}

/* .img-container-big img {
    width: 100%;
    border-radius: 20px;
} */

.blur-up {
    filter: blur(5px);
  }

  .blur-down {
    filter: blur(0px);
    transition: filter 2500ms;
  }
  
  
  .lozad {
    opacity: 0;
  }

  .i-container {
    width: 83%;
    margin-left: 8.3%;
    margin-bottom: 3%;
    padding: 0% 0;
  }

  .credits {
    font-family: "roc-grotesk", sans-serif;
    text-align: center;
    padding-bottom: 4%;
  }

  .credits p {
    font-weight: 600;
    padding-bottom: 1%;
  }

  .nav-proj {
    display: flex;
    justify-content: space-between;
    font-family: "roc-grotesk", sans-serif;
    font-size: 1.2rem;
  }

  #prev-proj, #next-proj {
    background-color: #FF7F3C;
  }

  footer {
    position:relative;
    padding-top: 3%;
  }



@media only screen and (max-width: 800px) {

    .container-mobile  {
        padding-left: 5%;
        padding-right: 5%;
    }

    .video-container {
        height: 200px;
        margin-left: 0%;
        width: 100%;
    }

    .brief,
    .inline-img {
        display: block;
        font-size: 1rem;
    }

    .cartiglio {
        font-size: 4rem;
        padding-top: 30%;
    }

    .proj-attribute {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .img-container-vert img {
        width:100%;
    }

    .img-container-vert, .img-container-big, .img-container {
        height: 30vh;
        margin-bottom: 8%;
    }

    .i-container {
        width: 100%;
        margin-left: 0%;
    }
}